<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akshay.ncovindiastats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashMain2Activity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".NumbersActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".StateWiseActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".CountryTimelineActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".CountryDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">

        </activity>
    </application>

</manifest>